.title {
    margin: 30px 0 30px 0;
    font-size: 38px;
    font-weight: 700;
    color: #6e486e;
    text-align: center;
}
img {
    display: block;
    width: 100%;
    height: 100%;
}
.list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.container {
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}
.visually-hidden {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.filter-list .item:not(:last-child) {
    margin-right: 15px;
}
.btn-loading,
.filter-btn {
    margin: 0;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 500;
    color: #3f7272;
    background-color: transparent;
    border: 2px solid #57ebeb;
    border-radius: 6px;
    transition: background-color 250ms ease;
    cursor: pointer;
}
.filter-btn:hover,
.filter-btn:focus {
    background-color: #57ebeb;
}
.btn-loading:hover,
.btn-loading:focus {
    background-color: #57ebeb;
}
.film-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 70px;
    margin: -10px;
}
.film-list .item {
    margin: 10px;
    flex-basis: calc((100% - 8 * 10px) / 4);
    border: 5px solid #6e486e;
    border-radius: 5px;
}
.img {
    height: 350px;
}
.content {
    padding: 10px;
}
.film-title {
    margin: 0 0 20px 0;
    color: #143a14;
}
.info {
    font-size: 18px;
    font-weight: 500;
}
.title-info {
    color: #3f7272;
    text-decoration: underline;
}
.btn-loading-container {
    display: flex;
    justify-content: center;
    padding: 40px 0;
}